<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.appleyk.dao.mapper.catalog.CatalogMapper">

    <resultMap type="com.appleyk.dao.entity.CatalogEntity" id="catalogEntityMap">
        <id property="id" column="id"/>
        <result property = "name" column = "name"/>
        <result property = "parentId" column = "parentid"/>
        <result property = "rootId" column = "rootid"/>
        <result property="cTime" column="ctime"/>
        <result property="mTime" column="mtime"/>
    </resultMap>

    <sql id="TABLE_COLUMNS">
        id,
        name,
        parentid,
        rootid,
        ctime,
        mtime,
	</sql>

    <update id="updateCatalog" parameterType="com.appleyk.dao.entity.CatalogEntity">
        update yk_catalog set
        name = #{catalog.name},parentid = #{catalog.parentId},
        mtime = #{catalog.mTime}
        where id = #{catalog.id}
    </update>

</mapper>